{% extends 'base.html' %}
{% block content %}

<h1 class="center-align">Home</h1>

<div class="col s12 m2">
  <p class="z-depth-1 center-align" style="font-size:20px;">Welcome</p>
</div>
<div class="col s12 m2 ">
  <p class="z-depth-2 center-align" style="font-size:20px;">to</p>
</div>
<div class="col s12 m2">
  <p class="z-depth-3 center-align" style="font-size:20px;">the</p>
</div>
<div class="col s12 m2">
  <p class="z-depth-4 center-align" style="font-size:20px;">Finch</p>
</div>
<div class="col s12 m2">
  <p class="z-depth-5 center-align" style="font-size:20px;">Collector!</p>
</div>

{% endblock %}